# Next.js build output
.next/
out/
build/

#docs
docs/

# Dependencies
node_modules/

# Local env files
.env*.local
.env

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# TypeScript
*.tsbuildinfo
